<!DOCTYPE html>
<html>
<head>
    <title>AppPay</title>
    <script src="server.js" async></script>
</head>
 <body>
     <h1>Boston Red Sox Hat</h1>
     <h2>Buy for $25</h2>
     <form action="/pay" method="POST">
        <input type="submit" value="Buy">
     </form>
 </body>   
</html>